* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #52ceb2;
  --main-color-lighter: #A0E4D5;
  --main-dark: #834566;
  --main-dark-lighter: #B0889D;
  --main-light: #faca2c;
  --main-light-lighter: #FBDD78;
  --main-splash: #f00044;
  --main-splash-lighter: #F44577;
  --main-print: darkslategrey;
  --main-splash-opaque: rgba(240, 0, 68, 0.5);
  --main-light-opaque: rgba(250, 202, 44, 0.5);
  --main-color-opaque: rgba(82, 206, 178, 0.5);
}

body {
  background-image: url(media/Oreti.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  color: var(--main-print);
  Font-Family: 'Fauna One', Serif;
  width: 100%;
}

.section {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.intro {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fixed-header {
  margin: 4rem auto;
  width: fit-content;
  padding: 0.5rem;
  font-size: 3rem;
  color: var(--main-splash);
}

.name {
  /* text-align: center; */
}

h1, h2, h3 {
  Font-Family: 'Cinzel', Cursive;
}

.blurb {
  max-width: 20rem;
  font-size: 1rem;
  background: var(--main-light); 
  padding: 4rem;
  margin-bottom: 3rem;
  border-radius: 23% 77% 51% 49% / 71% 34% 66% 29%;
  box-shadow:
  0 0.6px 5.9px rgba(0, 0, 0, 0.013),
  0 1.5px 13.8px rgba(0, 0, 0, 0.018),
  0 2.6px 24.8px rgba(0, 0, 0, 0.022),
  0 4.3px 41.1px rgba(0, 0, 0, 0.025),
  0 7.1px 67.7px rgba(0, 0, 0, 0.03),
  0 12.5px 118.4px rgba(0, 0, 0, 0.037),
  0 27px 256px rgba(0, 0, 0, 0.05)
;

}


/* About Me */


.about-me {
  max-width: 70rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-content: center;
}

.tech {
  background-color: var(--main-dark);
  color: var(--main-color);
  width: 25rem;
  padding: 4rem; 
  margin: 2rem;
  border-radius: 47% 53% 45% 55% / 25% 7% 93% 75%;
  box-shadow:
  0 0.6px 5.9px rgba(0, 0, 0, 0.013),
  0 1.5px 13.8px rgba(0, 0, 0, 0.018),
  0 2.6px 24.8px rgba(0, 0, 0, 0.022),
  0 4.3px 41.1px rgba(0, 0, 0, 0.025),
  0 7.1px 67.7px rgba(0, 0, 0, 0.03),
  0 12.5px 118.4px rgba(0, 0, 0, 0.037),
  0 27px 256px rgba(0, 0, 0, 0.05)
;

}

.tech-title {
  font-size: 2rem;
}

.tech-list {
  margin: 0 auto;
}

.tech li {
  list-style: none;
  margin: 1rem 0 1rem 3rem;
}
/* give all of these a class of icons */
.html, .css, .jquery, .js, .react {
  width: 70px;
}

.bio {
  background-color: var(--main-splash);
  padding: 4rem;
  margin: 1rem;
  font-size: 1.2rem;
  border-radius: 23% 77% 5% 95% / 91% 7% 93% 9% ;
  box-shadow:
  0 0.6px 5.9px rgba(0, 0, 0, 0.013),
  0 1.5px 13.8px rgba(0, 0, 0, 0.018),
  0 2.6px 24.8px rgba(0, 0, 0, 0.022),
  0 4.3px 41.1px rgba(0, 0, 0, 0.025),
  0 7.1px 67.7px rgba(0, 0, 0, 0.03),
  0 12.5px 118.4px rgba(0, 0, 0, 0.037),
  0 27px 256px rgba(0, 0, 0, 0.05)
;

}

.bio-title {
  color: var(--main-light)
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-card {
  padding: 2rem 1rem;
  margin: 2rem;
  height: fit-content;
  background-color: var(--main-color);
  border-radius: 91% 9% 95% 5% / 4% 97% 3% 96%;
  box-shadow:
  0 1.9px 3.8px rgba(0, 0, 0, 0.033),
  0 4.4px 8.7px rgba(0, 0, 0, 0.046),
  0 7.8px 15.7px rgba(0, 0, 0, 0.056),
  0 13px 26px rgba(0, 0, 0, 0.066),
  0 21.4px 42.9px rgba(0, 0, 0, 0.078),
  0 37.4px 74.9px rgba(0, 0, 0, 0.096),
  0 81px 162px rgba(0, 0, 0, 0.13)
;
}

.image-box {
  width: 80%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.project-card p {
  margin: 2rem 0;
  text-align: center;
}

.link-box {
  display: flex;
  justify-content: space-evenly;
}

a {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--main-light);
}

a:hover {
  color: var(--main-splash);
}

/* Contact Page */

.contact {
  margin: 0 auto;
  width: 80%;
  color: var(--main-print);
  position: relative;
}

.container-div {
  margin: 0 auto;
}

.contact-form textarea {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.form-div {
  background-color: var(--main-splash-opaque);
  padding: 1rem;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.holla-at-your-boy {
  font-size: 3rem;
  color: var(--main-print);
}

.contact-labels {
  font-size: 1.5rem;
}

input {
  height: 1.5rem;
}

.contact-submit {
  display: block;
  font-size: 1.5rem;
  Font-Family: 'Fauna One', Serif;
  padding: 0.5rem;
  margin: 0.5rem auto;
}

/* Footer */

footer {
  width: 100%;
  position: absolute;
  padding: 1.5rem;
  background-color: var(--main-color-opaque);
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

