* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --main-color: #5BE7C3;
  --main-dark: #fe7b5d;
  --main-light: #5ACEF2;
  --main-splash: #F1B170;
  --main-print: #010030;
  --main-print-medium: #193F36;
  --main-print-light: #fff;
  --main-splash-opaque: rgba(241, 177, 112, 0.9);
  --main-light-opaque: rgba(90, 206, 242, 0.9);
  --main-color-opaque: rgba(91, 231, 195, 0.9);
}

html {
  scroll-behavior: smooth;
  background-color: var(--main-print);
}

body {
  min-height: 100vh;
  color: var(--main-print);
  font-family: 'Open Sans', sans-serif;
  background: url(media/Whangaehu.svg), rgba(1, 0, 48, 0.8);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
}

.section {
  min-height: 100vh;
  width: 90vw;
  padding: 2rem 0;
  margin: 0 auto;
}

.heading-primary {
  font-size: 3.5rem;
  color: var(--main-print-light);
}

.heading-secondary,
.heading-tertiary {
  color: var(--main-print-medium);
}
.heading-secondary {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.heading-tertiary {
  font-size: 2rem;
  padding-bottom: 1rem;
}

/* ***** NAVBAR ***** */

.navbar {
  width: 100%;
  position: fixed;
  padding: 1rem 0;
  background-color: var(--main-color-opaque);
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links a {
  color: var(--main-print);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all .2s ease-in;
}

.nav-links a:hover {
  color: var(--main-dark);
}


/* ***** HERO ***** */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hero h1 {
  margin-top: 2rem;
}

.headline {
  max-width: 15rem;
  background: var(--main-light); 
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 4rem;
  border-radius: 23% 77% 51% 49% / 71% 34% 66% 29%;
  box-shadow:
  0 0.6px 5.9px rgba(0, 0, 0, 0.013),
  0 1.5px 13.8px rgba(0, 0, 0, 0.018),
  0 2.6px 24.8px rgba(0, 0, 0, 0.022),
  0 4.3px 41.1px rgba(0, 0, 0, 0.025),
  0 7.1px 67.7px rgba(0, 0, 0, 0.03),
  0 12.5px 118.4px rgba(0, 0, 0, 0.037),
  0 27px 256px rgba(0, 0, 0, 0.05);
}

/* ***** ABOUT ME ***** */

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bio {
  background-color: var(--main-splash);
  padding: 5rem 2rem 4rem 3rem;
  border-radius: 23% 77% 5% 95% / 91% 7% 93% 9% ;
  box-shadow:
  0 0.6px 5.9px rgba(0, 0, 0, 0.013),
  0 1.5px 13.8px rgba(0, 0, 0, 0.018),
  0 2.6px 24.8px rgba(0, 0, 0, 0.022),
  0 4.3px 41.1px rgba(0, 0, 0, 0.025),
  0 7.1px 67.7px rgba(0, 0, 0, 0.03),
  0 12.5px 118.4px rgba(0, 0, 0, 0.037),
  0 27px 256px rgba(0, 0, 0, 0.05);
}

.bio-title {
  text-align: right;
}

.bio-paragraph {
  padding: .5rem 0;
  font-size: 1.2rem;
  line-height: 1.4;
}

.tech {
  margin-top: 5rem;
  background-color: var(--main-dark);
  padding: 4rem; 
  border-radius: 47% 53% 45% 55% / 25% 7% 93% 75%;
  box-shadow:
  0 0.6px 5.9px rgba(0, 0, 0, 0.013),
  0 1.5px 13.8px rgba(0, 0, 0, 0.018),
  0 2.6px 24.8px rgba(0, 0, 0, 0.022),
  0 4.3px 41.1px rgba(0, 0, 0, 0.025),
  0 7.1px 67.7px rgba(0, 0, 0, 0.03),
  0 12.5px 118.4px rgba(0, 0, 0, 0.037),
  0 27px 256px rgba(0, 0, 0, 0.05);
}

.tech-title {
  text-align: center;
}

.tech-list {
  width: fit-content;
  margin: 0 auto;
  font-size: 3rem;
  color: var(--main-print);
}


/* ***** PROJECTS ***** */

.projects {
  display: flex;
  flex-direction: column;
}

.project-card {
  padding: 2rem 1rem;
  margin: 2rem 0;
  height: fit-content;
  background-color: var(--main-color);
  border-radius: 91% 9% 95% 5% / 4% 97% 3% 96%;
  box-shadow:
  0 1.9px 3.8px rgba(0, 0, 0, 0.033),
  0 4.4px 8.7px rgba(0, 0, 0, 0.046),
  0 7.8px 15.7px rgba(0, 0, 0, 0.056),
  0 13px 26px rgba(0, 0, 0, 0.066),
  0 21.4px 42.9px rgba(0, 0, 0, 0.078),
  0 37.4px 74.9px rgba(0, 0, 0, 0.096),
  0 81px 162px rgba(0, 0, 0, 0.13);
}

.image-box {
  width: 80%;
  max-width: 22rem;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.project-card p {
  margin: 2rem 1rem;
  text-align: center;
  line-height: 1.5;
}

.tech-paragraph {
  font-weight: 600;
}

.link-box {
  display: flex;
  justify-content: space-evenly;
}

.link-box a {
  padding: .5rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--main-print);
  background-color: var(--main-dark);
  border-radius: 10px;
  transition: all .2s ease-in;
}

.link-box a:hover {
  background-color: var(--main-light);
}



/* ***** CONTACT PAGE ***** */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-div {
  background-color: var(--main-splash);
  padding: 2rem 3rem;
}

.form-div span {
  display: block;
  padding: 0.5rem 0;
}

.form-div a {
  color: var(--main-print);
  text-transform: uppercase;
  font-weight: 600;
  transition: all .2s ease-in;
}

.form-div a:hover {
  color: var(--main-print-light);
}

.contact-form {
  margin-top: 2rem;
}

.contact-label {
  font-size: 1.2rem;
  line-height: 2;
}

.contact-form textarea {
  width: 80%;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

input {
  display: inline-block;
  height: 1.5rem;
  border: none;
  border-radius: 10px;
  min-width: 9rem;
  margin: 0.5rem;
  padding: 0 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.contact-submit {
  display: block;
  padding: 1rem 2rem;
  margin: 2rem auto 0;
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
  color: var(--main-print);
  border: none;
  border-radius: 10px;
  background-color: var(--main-dark);
  transition: all .2s ease-in;
}

.contact-submit:hover {
  background-color: var(--main-color);
}


/* ***** FOOTER ***** */

.footer {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--main-light-opaque);
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer a {
  color: var(--main-dark);
  font-size: 3rem;
  transition: all .2s ease-in;
}

.footer a:hover {
  color: var(--main-color);
}


/* ***** MEDIA QUERIES ***** */

@media only screen and (min-width: 700px) {
  .heading-primary {
    font-size: 4rem;
  }

  .nav-links a {
    font-size: 2rem;
  }

  .bio {
    padding: 6rem;
  }

  .tech {
    max-width: 25rem;
    margin-top: 4rem auto;
  }

  .project-card {
    padding: 4rem;
    margin: 2rem 4rem;
  }
}

@media only screen and (min-width: 1000px) {
  .section {
    max-width: 62.5rem;
  }

  .heading-primary {
    font-size: 5rem;
  }

  .heading-secondary {
    font-size: 4rem;
  }

  .headline {
    max-width: 30rem;
    font-size: 1.7rem;
    padding: 5rem;
  }

  .about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .project-card {
    flex: 1 1 30%;
    padding: 2rem 1rem;
    margin: 1rem;
  }

  .form-div, 
  .footer {
    margin: 0 auto;
    max-width: 70%;
  }


}